.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-list {
  height: 95vh;
}

@media (max-width: 900px) {
  .pricing {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}

@media (max-width: 500px) {
  .pricing {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}