.efect {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.efect a {
  position: relative;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.efect .border {
  position: absolute;
  left: 0;
  background: currentColor;
  transition: transform 0.5s ease-in-out;
}

.efect .border-top,
.efect .border-bottom {
width: 100%;
height: 1px;
transform: scaleX(0);
}

.efect .border-left,
.efect .border-right {
width: 1px;
height: 100%;
transform: scaleY(0);
}

.efect .border-top,
.efect .border-left,
.efect .border-right {
top: 0;
}

.efect .border-bottom {
bottom: 0;
transform-origin: bottom right;
}

.efect .border-top {
transform-origin: top left;
}

.efect .border-left {
transform-origin: bottom left;
}

.efect .border-right {
left: auto;
right: 0;
transform-origin: top right;
}

.efect a:hover .border-top,
.efect a:hover .border-bottom {
transform: scaleX(1);
}

.efect a:hover .border-left,
.efect a:hover .border-right {
transform: scaleY(1);
}

.efect a:hover .border-right {
transition-delay: var(--transition-delay);
}

.efect a:hover .border-bottom {
transition-delay: calc(var(--transition-delay) * 2);
}

.efect a:hover .border-left {
transition-delay: calc(var(--transition-delay) * 3);
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.efect[data-animation="diagonal"] .border-left {
transform-origin: top left;
}

.efect[data-animation="diagonal"] .border-right,
.efect[data-animation="diagonal"] .border-bottom {
transform-origin: bottom right;
}

.efect[data-animation="diagonal"] a:hover [class^=border]{
transition-delay: 0s;
}