.ticket {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 600px) {
  .ticket {
    grid-template-columns: repeat(2, 1fr);
  }
}