.header {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;

  box-shadow: rgba(151, 151, 151, 0.2) 0px 2px 10px 0px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

/* logo styling */
.logo {
  font-size: 1.2rem;
}

.logo-icon {
  height: 0.9rem;
  width: 0.9rem;
}

@media (max-width: 550px) {
  .header {
    padding: 1.5rem 1rem;
  }

  .header ul li {
    margin-left: 5px;
  }

  .header ul {
    font-size: 0.9rem;
  }

  .logo {
    font-size: 1rem;
  }

  .logo-icon {
    height: 0.7rem;
    width: 0.7rem;
  }
}
